# Cakto Credentials
CAKTO_CLIENT_ID=
CAKTO_CLIENT_SECRET=

# Firebase Admin Service Account (JSON string)
# Optional if using default credentials in Cloud Run, but good for local/dev
FIREBASE_SERVICE_ACCOUNT=

# App URL
APP_URL=
